

<!-- <div class="container">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-success">2006</button>
      </div>
     
      <div class="col">
        <button type="button" class="btn btn-success">2007</button>
      </div>
    </div>
</div> -->
<h4><b>Filters</b></h4>
<div>
<div class="text-center border"><h5><b >Launch Year</b></h5></div>
<br>
<div class="container">
  
    <div class="row">
    
      <div class="col-md-6 mt-1" *ngFor="let p of allTable; let i=index;">
        <button type="button" [ngClass]="{'active': isActive}" (click)='year($event,i)' value={{p}} class="btn btn-outline-success">{{p}}</button>
        </div>
        </div>
        </div>
    </div>
    <br>
    <br>
    <div class="text-center border"><h5><b >Successful Launch</b></h5></div>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <button type="button" value=true (click)='launch($event)' class="btn btn-success">True</button>
      </div>
     
      <div class="col">
        <button type="button" value=false (click)='launch($event)' class="btn btn-success">False</button>
      </div>
    </div>
</div>

        <br>
    <br>
    <div class="text-center border"><h5><b >Successful Landing</b></h5></div>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <button type="button" value=true (click)='land($event)' class="btn btn-success">True</button>
      </div>
     
      <div class="col">
        <button type="button" value=false (click)='land($event)' class="btn btn-success">False</button>
      </div>
    </div>
</div>
    


