
  
<ng-container *ngIf=FirstPageBolean>
  <div class="container" style="margin-right:20px;">
  
    <div class="row">
    
      <div class="col-md-4" *ngFor="let p of NewDataTable; let i=index;index as io">
  
  
        <div class="card mb-4 box-shadow">
          <!-- <a [routerLink]="p.id"> -->
            
                
              <a>
            <img class="card-img-top" src="{{p.image}}"  alt="Card image cap">
          </a>
           
  
          <div class="card-body">
            <h3  class="card-title">{{p.mission_name}} #{{p.flight_number}}</h3>
            <h4 class="card-title">{{p.launch_year}}</h4>
            <h5  class="card-text">{{p.launch_success }}</h5>
            <h5  class="card-text">Mission id: {{p.missionid}} </h5>
            
            <h6 class="card-text">Land Success:{{p.land_success}} </h6>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</ng-container>

<ng-container *ngIf=LaunchBolean>
  <div class="container" style="margin-right:20px;">
  
    <div class="row">
    
      <div class="col-md-4" *ngFor="let p of NewDataTable; let i=index;index as io">
  
  
        <div class="card mb-4 box-shadow">
          <!-- <a [routerLink]="p.id"> -->
            
                
              <a>
            <img class="card-img-top" src="{{p.image}}"  alt="Card image cap">
            
          </a>
           
  
          <div class="card-body">
            <h2  class="card-title">{{p.mission_name}} #{{p.flight_number}}</h2>
            <h2 class="card-title">{{p.launch_year}}</h2>
            <h2  class="card-text">{{p.launch_success }}</h2>
            <h4  class="card-text">  {{p.missionid}} </h4>
            <h4  class="card-text">  {{p.land_success}} </h4>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</ng-container>

